# Database
DATABASE__DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB_NAME

# Celery
CELERY__CELERY_BROKER_URL=redis://HOST:PORT/DB_INDEX

# Auth
AUTH__TOKEN_SECRET_KEY=your_token_secret_key_here
AUTH__GOOGLE_OAUTH_CLIENT_ID=your_google_client_id_here
AUTH__GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret_here
AUTH__FRONTEND_REDIRECT_URL=http://localhost:3000/
AUTH__GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
AUTH__SESSION_SECRET_KEY=your_session_secret_key_here

# Email
EMAIL__EMAIL_ADDRESS=your_email@example.com
EMAIL__EMAIL_PASSWORD=your_email_app_password_here
EMAIL__EMAIL_DOMAIN=smtp.example.com
EMAIL__EMAIL_PORT=465
EMAIL__EMAIL_CODE_TTL_MINUTES=15

# Redis
REDIS__REDIS_HOST=localhost
REDIS__REDIS_PORT=6379
