# This is an example .env file for local development. Copy this to .env.dev and fill in the values as needed.

# Database
DATABASE__DB_PASSWORD=password
DATABASE__DB_HOST=host.docker.internal
DATABASE__DB_PORT=5433

# Celery
CELERY__CELERY_BROKER_URL=redis://host.docker.internal:6379/0

# Auth
AUTH__TOKEN_SECRET_KEY=your_token_secret_key_here
AUTH__GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id_here
AUTH__GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret_here
AUTH__FRONTEND_REDIRECT_URL=http://localhost:5173/
AUTH__GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback
AUTH__SESSION_SECRET_KEY=your_session_secret_key_here

# Email
EMAIL__EMAIL_ADDRESS=your_email_address_here
EMAIL__EMAIL_PASSWORD=your_email_password_here
EMAIL__EMAIL_DOMAIN=smtp.gmail.com
EMAIL__EMAIL_PORT=465
EMAIL__EMAIL_CODE_TTL_MINUTES=15

# Redis
REDIS__REDIS_HOST=host.docker.internal
REDIS__REDIS_PORT=6379


APP__DEBUG=true